body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #6200ea;
    color: white;
    padding: 20px;
}

main {
    margin: 20px;
}

button {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #3700b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #e3e3e3;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
}
