ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Horizontale Zentrierung */
    justify-content: space-between;  /* Vertikale Verteilung mit gleichmäßigen Abständen */
    text-align: center;
    background-color: #f8f9fa;
    height: 100vh;  /* Volle Höhe des Viewports */
    padding: 0;
    margin: 0;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

ion-button {
    width: 200px;
}
